<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<a href="/" class="brand-link">
		<img src="assets/images/icons/time.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">AnyServiceManager</span>
	</a>
	<div class="sidebar">
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a href="/" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Dashboard
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/package-manager.php" class="nav-link">
						<i class="nav-icon fas fa-cubes"></i>
						<p>
							Package Manager
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/php-configuration.php" class="nav-link">
						<i class="nav-icon fas fa-cogs"></i>
						<p>
							PHP Configuration
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/logs.php" class="nav-link">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Logs
						</p>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>
