.img-muted {
  transition: 2s;
  filter: grayscale(1);
}

/* Vertical Tabs */
.nav-tabs {
  flex-direction: column;
}

.nav-tabs .nav-item {
  margin-bottom: 0.25rem;
}

.nav-tabs .nav-link {
  border-radius: 0;
}

/* Active Tab Highlight */
.nav-tabs .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

/* Vertical Pills */
.nav-pills {
  flex-direction: column;
}

.nav-pills .nav-item {
  margin-bottom: 0.25rem;
}

.nav-pills .nav-link {
  border-radius: 0;
}

/* Active Pill Highlight */
.nav-pills .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

.f-12 {
  font-size: 12px;
}

.f-15 {
  font-size: 15px;
}

.nav-tabs {
  border: 1px solid #65656554;
  border-top: 0;
  border-radius: 5px;
}

.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #212529;
  box-shadow: 32px 0 #212529, -32px 0 #212529;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #212529;
  }

  50% {
    background-color: #212529;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }

  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #212529, -32px 0 #FFF2;
  }
}